/* l00p Studio - l00p.dev */
$direction : rtl;
$start : right;
$end : left;
$direction-sign : -1;

@import "global/variables";
//@import "libs/izitoast/iziToast";


@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/plyr/src/sass/plyr.scss";
@import "../../node_modules/aos/src/sass/aos.scss";
@import "../../node_modules/izitoast/dist/css/iziToast.min.css";
@import "../../node_modules/photoswipe/dist/photoswipe.css";

@if($direction == rtl) {
    @import "../../node_modules/bootstrap/dist/css/bootstrap-grid.rtl.min.css";
    @import "../../node_modules/bootstrap/dist/css/bootstrap-utilities.rtl.min.css";
}
@else {
    @import "../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";
    @import "../../node_modules/bootstrap/dist/css/bootstrap-utilities.min.css";
}

