/* l00p Studio - l00p.dev */
:root {
  --primary-color: 30, 150, 250;
  --secondary-color: 10, 50, 70;
  --foreground-color: 35, 40, 50;
  --background-color: 255, 255, 255;
  --gray-color: 133, 132, 141;
  --success-color: 70, 170, 80;
  --warning-color: 230, 120, 0;
  --error-color: 240, 40, 60;
  --gray-0-color: 250, 250, 250;
  --gray-1-color: 240, 240, 240;
  --gray-2-color: 230, 230, 230;
  --gray-3-color: 220, 220, 220;
  --gray-4-color: 210, 210, 210;
  --gray-5-color: 200, 200, 200;
  --gray-6-color: 190, 190, 190;
  --gray-7-color: 180, 180, 180;
  --gray-8-color: 170, 170, 170;
  --gray-9-color: 160, 160, 160;
  --gray-10-color: 150, 150, 150;
  --gray-11-color: 140, 140, 140;
  --gray-12-color: 130, 130, 130;
  --gray-13-color: 120, 120, 120;
  --gray-14-color: 110, 110, 110;
  --gray-15-color: 100, 100, 100;
  --gray-16-color: 90, 90, 90;
  --gray-17-color: 80, 80, 80;
  --gray-18-color: 70, 70, 70;
  --gray-19-color: 60, 60, 60;
  --gray-20-color: 50, 50, 50;
  --gray-21-color: 40, 40, 40;
  --gray-22-color: 30, 30, 30;
  --gray-23-color: 20, 20, 20;
  --gray-24-color: 10, 10, 10;
  color-scheme: only light;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  padding: 0;
  border: none;
  display: inline-block;
  cursor: pointer;
  background: unset;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: none;
}

fieldset {
  padding: 0;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

button,
input,
select,
textarea {
  font: inherit;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

::-ms-expand {
  display: none;
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.54);
}

svg {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none !important;
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ol, ul {
  list-style-position: inside;
}
ol ol, ol ul, ul ol, ul ul {
  margin-left: 12px;
}

label {
  display: block;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../font/vazrimatn/Vazirmatn-RD-Regular.woff2") format("woff2"), url("../font/vazrimatn/Vazirmatn-RD-Regular.woff2") format("truetype");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: Vazirmatn;
  src: url("../font/vazrimatn/Vazirmatn-RD-Bold.woff2") format("woff2"), url("../font/vazrimatn/Vazirmatn-RD-Bold.woff2") format("truetype");
  font-weight: bold;
  font-display: swap;
}
* {
  font-family: Vazirmatn;
  font-family: sans-serif;
}

body {
  line-height: 1.7;
  font-size: 14px;
}

header, main, footer {
  font-size: 0.9em;
}
@media (min-width: 576px) {
  header, main, footer {
    font-size: 1em;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  display: block;
}

h1, .h1 {
  font-size: 2.1em;
}

h2, .h2 {
  font-size: 1.9em;
}

h3, .h3 {
  font-size: 1.7em;
}

h4, .h4 {
  font-size: 1.5em;
}

h5, .h5 {
  font-size: 1.3em;
}

h6, .h6 {
  font-size: 1.1em;
}

small, .small, * small {
  font-size: 90%;
}

code, pre {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  line-height: 1.3;
}
code *, pre * {
  font-family: inherit;
}

.size--small {
  font-size: 0.85em !important;
}

.size--large {
  font-size: 1.15em !important;
}

.cl-primary {
  color: rgb(var(--primary-color)) !important;
}

.bg-primary {
  background-color: rgb(var(--primary-color)) !important;
}

.fl-primary {
  fill: rgb(var(--primary-color)) !important;
}

.cl-secondary {
  color: rgb(var(--secondary-color)) !important;
}

.bg-secondary {
  background-color: rgb(var(--secondary-color)) !important;
}

.fl-secondary {
  fill: rgb(var(--secondary-color)) !important;
}

.cl-foreground {
  color: rgb(var(--foreground-color)) !important;
}

.bg-foreground {
  background-color: rgb(var(--foreground-color)) !important;
}

.fl-foreground {
  fill: rgb(var(--foreground-color)) !important;
}

.cl-background {
  color: rgb(var(--background-color)) !important;
}

.bg-background {
  background-color: rgb(var(--background-color)) !important;
}

.fl-background {
  fill: rgb(var(--background-color)) !important;
}

.cl-gray {
  color: rgb(var(--gray-color)) !important;
}

.bg-gray {
  background-color: rgb(var(--gray-color)) !important;
}

.fl-gray {
  fill: rgb(var(--gray-color)) !important;
}

.cl-gray-0 {
  color: rgb(var(--gray-0-color)) !important;
}

.bg-gray-0 {
  background-color: rgb(var(--gray-0-color)) !important;
}

.fl-gray-0 {
  fill: rgb(var(--gray-0-color)) !important;
}

.cl-gray-1 {
  color: rgb(var(--gray-1-color)) !important;
}

.bg-gray-1 {
  background-color: rgb(var(--gray-1-color)) !important;
}

.fl-gray-1 {
  fill: rgb(var(--gray-1-color)) !important;
}

.cl-gray-2 {
  color: rgb(var(--gray-2-color)) !important;
}

.bg-gray-2 {
  background-color: rgb(var(--gray-2-color)) !important;
}

.fl-gray-2 {
  fill: rgb(var(--gray-2-color)) !important;
}

.cl-gray-3 {
  color: rgb(var(--gray-3-color)) !important;
}

.bg-gray-3 {
  background-color: rgb(var(--gray-3-color)) !important;
}

.fl-gray-3 {
  fill: rgb(var(--gray-3-color)) !important;
}

.cl-gray-4 {
  color: rgb(var(--gray-4-color)) !important;
}

.bg-gray-4 {
  background-color: rgb(var(--gray-4-color)) !important;
}

.fl-gray-4 {
  fill: rgb(var(--gray-4-color)) !important;
}

.cl-gray-5 {
  color: rgb(var(--gray-5-color)) !important;
}

.bg-gray-5 {
  background-color: rgb(var(--gray-5-color)) !important;
}

.fl-gray-5 {
  fill: rgb(var(--gray-5-color)) !important;
}

.cl-gray-6 {
  color: rgb(var(--gray-6-color)) !important;
}

.bg-gray-6 {
  background-color: rgb(var(--gray-6-color)) !important;
}

.fl-gray-6 {
  fill: rgb(var(--gray-6-color)) !important;
}

.cl-gray-7 {
  color: rgb(var(--gray-7-color)) !important;
}

.bg-gray-7 {
  background-color: rgb(var(--gray-7-color)) !important;
}

.fl-gray-7 {
  fill: rgb(var(--gray-7-color)) !important;
}

.cl-gray-8 {
  color: rgb(var(--gray-8-color)) !important;
}

.bg-gray-8 {
  background-color: rgb(var(--gray-8-color)) !important;
}

.fl-gray-8 {
  fill: rgb(var(--gray-8-color)) !important;
}

.cl-gray-9 {
  color: rgb(var(--gray-9-color)) !important;
}

.bg-gray-9 {
  background-color: rgb(var(--gray-9-color)) !important;
}

.fl-gray-9 {
  fill: rgb(var(--gray-9-color)) !important;
}

.cl-gray-10 {
  color: rgb(var(--gray-10-color)) !important;
}

.bg-gray-10 {
  background-color: rgb(var(--gray-10-color)) !important;
}

.fl-gray-10 {
  fill: rgb(var(--gray-10-color)) !important;
}

.cl-gray-11 {
  color: rgb(var(--gray-11-color)) !important;
}

.bg-gray-11 {
  background-color: rgb(var(--gray-11-color)) !important;
}

.fl-gray-11 {
  fill: rgb(var(--gray-11-color)) !important;
}

.cl-gray-12 {
  color: rgb(var(--gray-12-color)) !important;
}

.bg-gray-12 {
  background-color: rgb(var(--gray-12-color)) !important;
}

.fl-gray-12 {
  fill: rgb(var(--gray-12-color)) !important;
}

.cl-gray-13 {
  color: rgb(var(--gray-13-color)) !important;
}

.bg-gray-13 {
  background-color: rgb(var(--gray-13-color)) !important;
}

.fl-gray-13 {
  fill: rgb(var(--gray-13-color)) !important;
}

.cl-gray-14 {
  color: rgb(var(--gray-14-color)) !important;
}

.bg-gray-14 {
  background-color: rgb(var(--gray-14-color)) !important;
}

.fl-gray-14 {
  fill: rgb(var(--gray-14-color)) !important;
}

.cl-gray-15 {
  color: rgb(var(--gray-15-color)) !important;
}

.bg-gray-15 {
  background-color: rgb(var(--gray-15-color)) !important;
}

.fl-gray-15 {
  fill: rgb(var(--gray-15-color)) !important;
}

.cl-gray-16 {
  color: rgb(var(--gray-16-color)) !important;
}

.bg-gray-16 {
  background-color: rgb(var(--gray-16-color)) !important;
}

.fl-gray-16 {
  fill: rgb(var(--gray-16-color)) !important;
}

.cl-gray-17 {
  color: rgb(var(--gray-17-color)) !important;
}

.bg-gray-17 {
  background-color: rgb(var(--gray-17-color)) !important;
}

.fl-gray-17 {
  fill: rgb(var(--gray-17-color)) !important;
}

.cl-gray-18 {
  color: rgb(var(--gray-18-color)) !important;
}

.bg-gray-18 {
  background-color: rgb(var(--gray-18-color)) !important;
}

.fl-gray-18 {
  fill: rgb(var(--gray-18-color)) !important;
}

.cl-gray-19 {
  color: rgb(var(--gray-19-color)) !important;
}

.bg-gray-19 {
  background-color: rgb(var(--gray-19-color)) !important;
}

.fl-gray-19 {
  fill: rgb(var(--gray-19-color)) !important;
}

.cl-gray-20 {
  color: rgb(var(--gray-20-color)) !important;
}

.bg-gray-20 {
  background-color: rgb(var(--gray-20-color)) !important;
}

.fl-gray-20 {
  fill: rgb(var(--gray-20-color)) !important;
}

.cl-gray-21 {
  color: rgb(var(--gray-21-color)) !important;
}

.bg-gray-21 {
  background-color: rgb(var(--gray-21-color)) !important;
}

.fl-gray-21 {
  fill: rgb(var(--gray-21-color)) !important;
}

.cl-gray-22 {
  color: rgb(var(--gray-22-color)) !important;
}

.bg-gray-22 {
  background-color: rgb(var(--gray-22-color)) !important;
}

.fl-gray-22 {
  fill: rgb(var(--gray-22-color)) !important;
}

.cl-gray-23 {
  color: rgb(var(--gray-23-color)) !important;
}

.bg-gray-23 {
  background-color: rgb(var(--gray-23-color)) !important;
}

.fl-gray-23 {
  fill: rgb(var(--gray-23-color)) !important;
}

.cl-success {
  color: rgb(var(--success-color)) !important;
}

.bg-success {
  background-color: rgb(var(--success-color)) !important;
}

.fl-success {
  fill: rgb(var(--success-color)) !important;
}

.cl-warning {
  color: rgb(var(--warning-color)) !important;
}

.bg-warning {
  background-color: rgb(var(--warning-color)) !important;
}

.fl-warning {
  fill: rgb(var(--warning-color)) !important;
}

.cl-error {
  color: rgb(var(--error-color)) !important;
}

.bg-error {
  background-color: rgb(var(--error-color)) !important;
}

.fl-error {
  fill: rgb(var(--error-color)) !important;
}

.b-rad-0 {
  border-radius: 0 !important;
}

.b-rad-0-1 {
  border-radius: 0.1em !important;
}

.b-rad-0-2 {
  border-radius: 0.2em !important;
}

.b-rad-0-3 {
  border-radius: 0.3em !important;
}

.b-rad-0-4 {
  border-radius: 0.4em !important;
}

.b-rad-0-5 {
  border-radius: 0.5em !important;
}

.b-rad-0-6 {
  border-radius: 0.6em !important;
}

.b-rad-0-7 {
  border-radius: 0.7em !important;
}

.b-rad-0-8 {
  border-radius: 0.8em !important;
}

.b-rad-0-9 {
  border-radius: 0.9em !important;
}

.b-rad-1-1 {
  border-radius: 1.1em !important;
}

.b-rad-1-2 {
  border-radius: 1.2em !important;
}

.b-rad-1-3 {
  border-radius: 1.3em !important;
}

.b-rad-1-4 {
  border-radius: 1.4em !important;
}

.b-rad-1-5 {
  border-radius: 1.5em !important;
}

.b-rad-1-6 {
  border-radius: 1.6em !important;
}

.b-rad-1-7 {
  border-radius: 1.7em !important;
}

.b-rad-1-8 {
  border-radius: 1.8em !important;
}

.b-rad-1-9 {
  border-radius: 1.9em !important;
}

.b-rad-1 {
  border-radius: 1em !important;
}

.b-rad-2 {
  border-radius: 2em !important;
}

.b-rad-3 {
  border-radius: 3em !important;
}

.b-rad-4 {
  border-radius: 4em !important;
}

.b-rad-5 {
  border-radius: 5em !important;
}

.b-rad-full {
  border-radius: 100% !important;
}

.spacer-1px {
  height: 1px !important;
}

.spacer-1em {
  height: 1em !important;
}

.spacer-2em {
  height: 2em !important;
}

.spacer-3em {
  height: 3em !important;
}

.spacer-4em {
  height: 4em !important;
}

.spacer-5em {
  height: 5em !important;
}

.spacer-6em {
  height: 6em !important;
}

.spacer-7em {
  height: 7em !important;
}

.spacer-8em {
  height: 8em !important;
}

.spacer-9em {
  height: 9em !important;
}

.spacer-10em {
  height: 10em !important;
}

.spacer-11em {
  height: 11em !important;
}

.spacer-12em {
  height: 12em !important;
}

.spacer-13em {
  height: 13em !important;
}

.spacer-14em {
  height: 14em !important;
}

.spacer-15em {
  height: 15em !important;
}

.spacer-16em {
  height: 16em !important;
}

.spacer-17em {
  height: 17em !important;
}

.spacer-18em {
  height: 18em !important;
}

.spacer-19em {
  height: 19em !important;
}

.spacer-20em {
  height: 20em !important;
}

.spacer-100vh {
  height: 100vh !important;
}

.mw-10em {
  max-width: 10em !important;
}

.mw-20em {
  max-width: 20em !important;
}

.mw-30em {
  max-width: 30em !important;
}

.mw-40em {
  max-width: 40em !important;
}

.mw-50em {
  max-width: 50em !important;
}

.mw-60em {
  max-width: 60em !important;
}

.mw-70em {
  max-width: 70em !important;
}

.mw-80em {
  max-width: 80em !important;
}

.icon-1em {
  width: 1em !important;
  height: 1em !important;
}

.icon-1-1em {
  width: 1.1em !important;
  height: 1.1em !important;
}

.icon-1-2em {
  width: 1.2em !important;
  height: 1.2em !important;
}

.icon-1-3em {
  width: 1.3em !important;
  height: 1.3em !important;
}

.icon-1-4em {
  width: 1.4em !important;
  height: 1.4em !important;
}

.icon-1-5em {
  width: 1.5em !important;
  height: 1.5em !important;
}

.icon-1-6em {
  width: 1.6em !important;
  height: 1.6em !important;
}

.icon-1-7em {
  width: 1.7em !important;
  height: 1.7em !important;
}

.icon-1-8em {
  width: 1.8em !important;
  height: 1.8em !important;
}

.icon-1-9em {
  width: 1.9em !important;
  height: 1.9em !important;
}

.icon-2em {
  width: 2em !important;
  height: 2em !important;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.list-raw {
  list-style: none;
}
.list-raw ul, .list-raw ol {
  margin-left: 0;
  list-style: inherit;
}

.text-justify {
  text-align: justify;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgb(var(--background-color));
  color: rgb(var(--foreground-color));
  fill: rgb(var(--foreground-color));
  direction: rtl;
}

main {
  min-height: 100vh;
}

svg {
  width: 1.3em;
  height: 1.3em;
  vertical-align: middle;
  align-self: center;
}

*::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

*::-webkit-scrollbar-thumb {
  background: rgba(var(--foreground-color), 0.25);
  border-radius: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

* {
  scrollbar-face-color: rgba(var(--foreground-color), 0.25);
  scrollbar-track-color: transparent;
  scrollbar-color: rgba(var(--foreground-color), 0.25) transparent;
  scrollbar-width: thin;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 0.5em;
  height: 0.5em;
  background-color: rgba(var(--foreground-color), 0.2);
  border-radius: 50%;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(var(--primary-color));
  cursor: pointer;
}

.swiper-scrollbar {
  height: 0.3em;
  background-color: rgba(var(--foreground-color), 0.1);
}
.swiper-scrollbar .swiper-scrollbar-drag {
  background-color: rgb(var(--primary-color));
  height: inherit;
  cursor: pointer;
}

.iziToast.iziToast-color-red {
  background: rgb(var(--error-color)) !important;
  border-color: rgb(var(--error-color)) !important;
}

.iziToast.iziToast-color-orange {
  background: rgb(var(--warning-color)) !important;
  border-color: rgb(var(--warning-color)) !important;
}

.iziToast.iziToast-color-green {
  background: rgb(var(--success-color)) !important;
  border-color: rgb(var(--success-color)) !important;
}

:root {
  --plyr-color-main: rgb(var(--primary-color));
  --plyr-audio-controls-background: rgba(var(--foreground-color), .05);
  --plyr-badge-background: rgb(var(--foreground-color));
  --plyr-badge-text-color: rgb(var(--foreground-color));
  --plyr-captions-text-color: rgb(var(--foreground-color));
  --plyr-video-control-color: rgb(var(--foreground-colorforeground));
  --plyr-video-control-color-hover: rgba(var(--foreground-color), .85);
  --plyr-audio-control-color: rgb(var(--foreground-color));
  --plyr-audio-control-color-hover: rgb(var(--foreground-color));
  --plyr-menu-color: rgb(var(--foreground-color));
  --plyr-menu-item-arrow-color: rgb(var(--foreground-color));
  --plyr-menu-border-color: rgba(var(--foreground-color), 2);
  --plyr-menu-border-shadow-color: rgb(var(--foreground-color));
  --plyr-range-thumb-background: rgb(var(--foreground-color));
  --plyr-tooltip-color: rgb(var(--foreground-color));
  --plyr-control-icon-size: 1.3em;
  --plyr-badge-border-radius: .2em;
  --plyr-control-spacing: .7em;
  --plyr-control-radius: .5em;
  --plyr-menu-radius: .5em;
  --plyr-menu-arrow-size: .4em;
  --plyr-menu-item-arrow-size: .3em;
  --plyr-progress-loading-size: 1.8em;
  --plyr-range-thumb-height: 1em;
  --plyr-font-size-base: 1em;
  --plyr-font-size-small: .9em;
  --plyr-font-size-large: 1.1em;
}

.emoji {
  display: inline-block;
  width: 1.7em;
  height: 1.7em;
  vertical-align: middle;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.l00p_theme {
  display: flex;
  border: 2px solid rgba(var(--foreground-color), 0.1);
  border-radius: 0.8em;
  overflow: hidden;
  width: 100%;
}
.l00p_theme span {
  flex-grow: 1;
  height: 3em;
  position: relative;
}
.l00p_theme span::after {
  content: "";
  position: absolute;
  inset: 0;
  top: 70%;
  background-color: rgba(0, 0, 0, 0.1);
}
.l00p_theme.one span:nth-child(1) {
  background-color: rgb(30, 150, 250);
}
.l00p_theme.one span:nth-child(2) {
  background-color: rgb(10, 50, 70);
}
.l00p_theme.one span:nth-child(3) {
  background-color: rgb(255, 255, 255);
}
.l00p_theme.one span:nth-child(4) {
  background-color: rgb(133, 132, 141);
}
.l00p_theme.one span:nth-child(5) {
  background-color: rgb(35, 40, 50);
}
.l00p_theme.two span:nth-child(1) {
  background-color: rgb(70, 95, 176);
}
.l00p_theme.two span:nth-child(2) {
  background-color: rgb(255, 201, 74);
}
.l00p_theme.two span:nth-child(3) {
  background-color: rgb(255, 255, 255);
}
.l00p_theme.two span:nth-child(4) {
  background-color: rgb(114, 114, 117);
}
.l00p_theme.two span:nth-child(5) {
  background-color: rgb(33, 33, 33);
}
.l00p_theme.three span:nth-child(1) {
  background-color: rgb(255, 79, 155);
}
.l00p_theme.three span:nth-child(2) {
  background-color: rgb(246, 117, 117);
}
.l00p_theme.three span:nth-child(3) {
  background-color: rgb(44, 45, 45);
}
.l00p_theme.three span:nth-child(4) {
  background-color: rgb(114, 114, 117);
}
.l00p_theme.three span:nth-child(5) {
  background-color: rgb(255, 255, 255);
}

.cm_btn.style--fill--primary {
  color: white;
  fill: white;
  background-color: rgb(var(--primary-color));
  border-color: rgb(var(--primary-color));
  box-shadow: 0 3px 5px rgba(var(--primary-color), 0.3);
}
.cm_btn.style--fill--primary:focus {
  box-shadow: 0 0 0 3px rgba(var(--primary-color), 0.3);
}
.cm_btn.style--fill--secondary {
  color: white;
  fill: white;
  background-color: rgb(var(--secondary-color));
  border-color: rgb(var(--secondary-color));
  box-shadow: 0 3px 5px rgba(var(--secondary-color), 0.3);
}
.cm_btn.style--fill--secondary:focus {
  box-shadow: 0 0 0 3px rgba(var(--secondary-color), 0.3);
}
.cm_btn.style--fill--gray {
  color: white;
  fill: white;
  background-color: rgb(var(--gray-color));
  border-color: rgb(var(--gray-color));
  box-shadow: 0 3px 5px rgba(var(--gray-color), 0.3);
}
.cm_btn.style--fill--gray:focus {
  box-shadow: 0 0 0 3px rgba(var(--gray-color), 0.3);
}
.cm_btn.style--fill--success {
  color: white;
  fill: white;
  background-color: rgb(var(--success-color));
  border-color: rgb(var(--success-color));
  box-shadow: 0 3px 5px rgba(var(--success-color), 0.3);
}
.cm_btn.style--fill--success:focus {
  box-shadow: 0 0 0 3px rgba(var(--success-color), 0.3);
}
.cm_btn.style--fill--warning {
  color: white;
  fill: white;
  background-color: rgb(var(--warning-color));
  border-color: rgb(var(--warning-color));
  box-shadow: 0 3px 5px rgba(var(--warning-color), 0.3);
}
.cm_btn.style--fill--warning:focus {
  box-shadow: 0 0 0 3px rgba(var(--warning-color), 0.3);
}
.cm_btn.style--fill--error {
  color: white;
  fill: white;
  background-color: rgb(var(--error-color));
  border-color: rgb(var(--error-color));
  box-shadow: 0 3px 5px rgba(var(--error-color), 0.3);
}
.cm_btn.style--fill--error:focus {
  box-shadow: 0 0 0 3px rgba(var(--error-color), 0.3);
}

.cm_btn.style--stroke--primary {
  color: rgb(var(--primary-color));
  fill: rgb(var(--primary-color));
  border-color: rgb(var(--primary-color));
  box-shadow: 0 3px 5px rgba(var(--primary-color), 0.15);
  background-color: transparent;
}
.cm_btn.style--stroke--primary:focus {
  box-shadow: 0 0 0 3px rgba(var(--primary-color), 0.3);
}
.cm_btn.style--stroke--secondary {
  color: rgb(var(--secondary-color));
  fill: rgb(var(--secondary-color));
  border-color: rgb(var(--secondary-color));
  box-shadow: 0 3px 5px rgba(var(--secondary-color), 0.15);
  background-color: transparent;
}
.cm_btn.style--stroke--secondary:focus {
  box-shadow: 0 0 0 3px rgba(var(--secondary-color), 0.3);
}
.cm_btn.style--stroke--gray {
  color: rgb(var(--gray-color));
  fill: rgb(var(--gray-color));
  border-color: rgb(var(--gray-color));
  box-shadow: 0 3px 5px rgba(var(--gray-color), 0.15);
  background-color: transparent;
}
.cm_btn.style--stroke--gray:focus {
  box-shadow: 0 0 0 3px rgba(var(--gray-color), 0.3);
}
.cm_btn.style--stroke--white {
  color: white;
  fill: white;
  border-color: white;
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.15);
  background-color: transparent;
}
.cm_btn.style--stroke--white:focus {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
}
.cm_btn.style--stroke--success {
  color: rgb(var(--success-color));
  fill: rgb(var(--success-color));
  border-color: rgb(var(--success-color));
  box-shadow: 0 3px 5px rgba(var(--success-color), 0.15);
  background-color: transparent;
}
.cm_btn.style--stroke--success:focus {
  box-shadow: 0 0 0 3px rgba(var(--success-color), 0.3);
}
.cm_btn.style--stroke--warning {
  color: rgb(var(--warning-color));
  fill: rgb(var(--warning-color));
  border-color: rgb(var(--warning-color));
  box-shadow: 0 3px 5px rgba(var(--warning-color), 0.15);
  background-color: transparent;
}
.cm_btn.style--stroke--warning:focus {
  box-shadow: 0 0 0 3px rgba(var(--warning-color), 0.3);
}
.cm_btn.style--stroke--error {
  color: rgb(var(--error-color));
  fill: rgb(var(--error-color));
  border-color: rgb(var(--error-color));
  box-shadow: 0 3px 5px rgba(var(--error-color), 0.15);
  background-color: transparent;
}
.cm_btn.style--stroke--error:focus {
  box-shadow: 0 0 0 3px rgba(var(--error-color), 0.3);
}

.cm_btn.style--solid--foreground {
  color: rgb(var(--foreground-color));
  fill: rgb(var(--foreground-color));
  border-color: transparent;
  background-color: transparent;
  box-shadow: unset;
}
.cm_btn.style--solid--foreground:focus {
  box-shadow: 0 0 0 3px rgba(var(--foreground-color), 0.08);
}
.cm_btn.style--solid--white {
  color: white;
  fill: white;
  border-color: transparent;
  background-color: transparent;
  box-shadow: unset;
}
.cm_btn.style--solid--white::after {
  background-color: white;
}
.cm_btn.style--solid--white:focus {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.1);
}

.cm_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 1em;
  padding: 0.5em 1.4em;
  gap: 1.2em;
  border-radius: 5em;
  background-color: rgb(var(--background-color));
  border: 1px solid rgba(var(--foreground-color), 0.08);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.03);
  transition: 0.2s;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  fill: rgb(var(--foreground-color));
  color: rgb(var(--foreground-color));
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cm_btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0;
  transition: inherit;
}
.cm_btn:hover::after {
  opacity: 0.05;
}
.cm_btn:focus {
  box-shadow: 0 0 0 3px rgba(var(--foreground-color), 0.15);
}
.cm_btn:disabled, .cm_btn.disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
.cm_btn svg {
  margin-right: -0.6em;
  margin-left: -0.6em;
  flex-shrink: 0;
}
.cm_btn.iconic {
  padding: 0.5em;
}
.cm_btn.iconic svg {
  margin: 0;
}
.cm_btn.shadowless {
  box-shadow: unset;
}
.cm_btn.type--toggle .state--idle {
  display: initial;
}
.cm_btn.type--toggle .state--toggled {
  display: none;
}

.cm_input {
  position: relative;
  transition: 0.2s;
}
.cm_input__label {
  display: block;
  margin-bottom: 0.3em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cm_input__label ~ svg, .cm_input__label ~ button {
  bottom: calc(50% - 1em) !important;
}
.cm_input input, .cm_input textarea, .cm_input .cm_select__preview {
  display: flex;
  align-items: center;
  max-width: unset;
  min-width: unset;
  width: 100%;
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 0.9em;
  background-color: rgb(var(--background-color));
  border: 1px solid rgba(var(--foreground-color), 0.12);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.02);
  transition: inherit;
}
.cm_input input:disabled, .cm_input input:disabled ~ *, .cm_input textarea:disabled, .cm_input textarea:disabled ~ *, .cm_input .cm_select__preview:disabled, .cm_input .cm_select__preview:disabled ~ * {
  cursor: not-allowed;
  opacity: 0.3;
}
.cm_input input::placeholder, .cm_input textarea::placeholder, .cm_input .cm_select__preview::placeholder {
  color: rgba(var(--foreground-color), 0.3);
  transition: inherit;
}
.cm_input input:hover, .cm_input textarea:hover, .cm_input .cm_select__preview:hover {
  border-color: rgb(var(--primary-color));
}
.cm_input input:hover::placeholder, .cm_input textarea:hover::placeholder, .cm_input .cm_select__preview:hover::placeholder {
  color: rgba(var(--primary-color), 0.3);
}
.cm_input input:focus, .cm_input textarea:focus, .cm_input .cm_select__preview:focus {
  border-color: rgb(var(--primary-color));
  box-shadow: 0 0 0 3px rgba(var(--primary-color), 0.15);
}
.cm_input input:focus::placeholder, .cm_input textarea:focus::placeholder, .cm_input .cm_select__preview:focus::placeholder {
  color: transparent;
}
.cm_input input:focus ~ svg, .cm_input textarea:focus ~ svg, .cm_input .cm_select__preview:focus ~ svg {
  fill: rgb(var(--primary-color));
}
.cm_input textarea {
  padding: 0.6em 1em;
  resize: none;
}
.cm_input > svg {
  fill: rgba(var(--foreground-color), 0.3);
  position: absolute;
  left: 0;
  bottom: 50%;
  transition: inherit;
  transform: translate(75%, 50%);
}
.cm_input > button {
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translate(14%, 50%);
}

.cm_input.validate--success > svg {
  fill: rgba(var(--success-color), 0.3);
}
.cm_input.validate--success .cm_input__label {
  color: rgb(var(--success-color));
}
.cm_input.validate--success input, .cm_input.validate--success .cm_select__preview {
  border-color: rgba(var(--success-color), 0.3);
}
.cm_input.validate--success input:hover, .cm_input.validate--success .cm_select__preview:hover {
  border-color: rgb(var(--success-color));
}
.cm_input.validate--success input:hover::placeholder, .cm_input.validate--success .cm_select__preview:hover::placeholder {
  color: rgba(var(--success-color), 0.3);
}
.cm_input.validate--success input:focus, .cm_input.validate--success .cm_select__preview:focus {
  border-color: rgb(var(--success-color));
  box-shadow: 0 0 0 3px rgba(var(--success-color), 0.15);
}
.cm_input.validate--success input:focus::placeholder, .cm_input.validate--success .cm_select__preview:focus::placeholder {
  color: transparent;
}
.cm_input.validate--success input:focus ~ svg, .cm_input.validate--success .cm_select__preview:focus ~ svg {
  fill: rgb(var(--success-color));
}
.cm_input.validate--warning > svg {
  fill: rgba(var(--warning-color), 0.3);
}
.cm_input.validate--warning .cm_input__label {
  color: rgb(var(--warning-color));
}
.cm_input.validate--warning input, .cm_input.validate--warning .cm_select__preview {
  border-color: rgba(var(--warning-color), 0.3);
}
.cm_input.validate--warning input:hover, .cm_input.validate--warning .cm_select__preview:hover {
  border-color: rgb(var(--warning-color));
}
.cm_input.validate--warning input:hover::placeholder, .cm_input.validate--warning .cm_select__preview:hover::placeholder {
  color: rgba(var(--warning-color), 0.3);
}
.cm_input.validate--warning input:focus, .cm_input.validate--warning .cm_select__preview:focus {
  border-color: rgb(var(--warning-color));
  box-shadow: 0 0 0 3px rgba(var(--warning-color), 0.15);
}
.cm_input.validate--warning input:focus::placeholder, .cm_input.validate--warning .cm_select__preview:focus::placeholder {
  color: transparent;
}
.cm_input.validate--warning input:focus ~ svg, .cm_input.validate--warning .cm_select__preview:focus ~ svg {
  fill: rgb(var(--warning-color));
}
.cm_input.validate--error > svg {
  fill: rgba(var(--error-color), 0.3);
}
.cm_input.validate--error .cm_input__label {
  color: rgb(var(--error-color));
}
.cm_input.validate--error input, .cm_input.validate--error .cm_select__preview {
  border-color: rgba(var(--error-color), 0.3);
}
.cm_input.validate--error input:hover, .cm_input.validate--error .cm_select__preview:hover {
  border-color: rgb(var(--error-color));
}
.cm_input.validate--error input:hover::placeholder, .cm_input.validate--error .cm_select__preview:hover::placeholder {
  color: rgba(var(--error-color), 0.3);
}
.cm_input.validate--error input:focus, .cm_input.validate--error .cm_select__preview:focus {
  border-color: rgb(var(--error-color));
  box-shadow: 0 0 0 3px rgba(var(--error-color), 0.15);
}
.cm_input.validate--error input:focus::placeholder, .cm_input.validate--error .cm_select__preview:focus::placeholder {
  color: transparent;
}
.cm_input.validate--error input:focus ~ svg, .cm_input.validate--error .cm_select__preview:focus ~ svg {
  fill: rgb(var(--error-color));
}

.cm_check {
  display: flex;
  align-items: center;
  gap: 0.8em;
  cursor: pointer;
  position: relative;
  z-index: 0;
  padding: 0.7em 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cm_check input:disabled ~ * {
  cursor: not-allowed;
  opacity: 0.3;
}
.cm_check input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
input:checked ~ .cm_check__input {
  background-color: rgb(var(--primary-color));
  border-color: rgb(var(--primary-color));
  box-shadow: 0 0 0 0.2em rgba(var(--primary-color), 0.4);
}
input:checked ~ .cm_check__input::after {
  opacity: 1;
}
input:checked ~ .cm_check__input ~ .cm_check__text::after {
  background-color: rgb(var(--background-color));
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(var(--foreground-color), 0.12);
}
.cm_check__input {
  flex-shrink: 0;
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.2em;
  border: 1px solid rgba(var(--foreground-color), 0.25);
  transition: 0.2s;
  position: relative;
  box-shadow: inset 0 0.1em 0.1em rgba(0, 0, 0, 0.1);
  background-color: rgb(var(--background-color));
}
.cm_check__input::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%);
  transition: inherit;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12.58 9.29'%3E%3Cpath d='M5,9c-.39,.39-1.02,.39-1.41,0L.29,5.71c-.39-.39-.39-1.02,0-1.41H.29c.39-.39,1.02-.39,1.41,0l2.59,2.59L10.88,.29c.39-.39,1.02-.39,1.41,0h0c.39,.39,.39,1.02,0,1.41l-7.29,7.29Z' style='fill:%23fff;'/%3E%3C/svg%3E");
  opacity: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.cm_check__text::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 0.9em;
  background-color: rgba(var(--foreground-color), 0.04);
  transition: 0.2s;
  border: 1px solid transparent;
}

.cm_check.style--solid {
  padding: 0;
}
.cm_check.style--solid .cm_check__text::after {
  display: none;
}

.cm_radio {
  display: flex;
  align-items: center;
  gap: 0.8em;
  cursor: pointer;
  position: relative;
  z-index: 0;
  padding: 0.7em 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cm_radio input:disabled ~ * {
  cursor: not-allowed;
  opacity: 0.3;
}
.cm_radio input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
input:checked ~ .cm_radio__input {
  background-color: rgb(var(--primary-color));
  border-color: rgb(var(--primary-color));
  box-shadow: 0 0 0 0.2em rgba(var(--primary-color), 0.4);
}
input:checked ~ .cm_radio__input::after {
  opacity: 1;
}
input:checked ~ .cm_radio__input ~ .cm_radio__text::after {
  background-color: rgb(var(--background-color));
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(var(--foreground-color), 0.12);
}
.cm_radio__input {
  flex-shrink: 0;
  width: 1.2em;
  height: 1.2em;
  border-radius: 100%;
  border: 1px solid rgba(var(--foreground-color), 0.25);
  transition: 0.2s;
  position: relative;
  box-shadow: inset 0 0.1em 0.1em rgba(0, 0, 0, 0.1);
  background-color: rgb(var(--background-color));
}
.cm_radio__input::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  transition: inherit;
  background-color: white;
  opacity: 0;
  border-radius: 50%;
}
.cm_radio__text::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 0.9em;
  background-color: rgba(var(--foreground-color), 0.04);
  transition: 0.2s;
  border: 1px solid transparent;
}

.cm_radio.style--solid {
  padding: 0;
}
.cm_radio.style--solid .cm_radio__text::after {
  display: none;
}

.cm_tab__nav {
  display: flex;
  gap: 0.2em;
}
.cm_tab__nav__item {
  border-bottom: 0.15em solid transparent;
  padding: 0.4em 0.8em;
  transition: 0.3s;
}
.cm_tab__nav__item:hover {
  border-bottom-color: rgba(var(--foreground-color), 0.2);
}
.cm_tab__nav__item.active {
  color: rgb(var(--primary-color));
  border-bottom-color: rgb(var(--primary-color));
}
.cm_tab__content__item {
  display: none;
}
.cm_tab__content__item.active {
  display: block;
}

.cm_popup {
  position: fixed;
  inset: 0;
  z-index: 9999999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cm_popup__overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.cm_popup__body {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  padding: 2em;
}
.cm_popup__content {
  max-width: 40em;
  pointer-events: initial;
  max-height: 90%;
  overflow-y: auto;
}

.cm_popup.style--plain .cm_popup__content {
  background-color: rgb(var(--background-color));
  padding: 2em;
  border-radius: 0.6em;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
}

.cm_menu {
  position: fixed;
  inset: 0;
  z-index: 9999999;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cm_menu__overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: initial;
}
.cm_menu__content {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgb(var(--background-color));
  transition: 0.4s;
  pointer-events: initial;
  width: 100%;
  max-width: 20em;
  overflow-y: auto;
}
.cm_menu__content.position--start {
  right: 0;
  transform: translateX(100%);
}
.cm_menu__content.position--end {
  left: 0;
  transform: translateX(-100%);
}
.cm_menu__content.open {
  transform: translateX(0);
}

.cm_content {
  font-size: 1.1em;
}
.cm_content h1, .cm_content .h1 {
  font-size: 2.1em;
}
.cm_content h2, .cm_content .h2 {
  font-size: 1.9em;
}
.cm_content h3, .cm_content .h3 {
  font-size: 1.7em;
}
.cm_content h4, .cm_content .h4 {
  font-size: 1.5em;
}
.cm_content h5, .cm_content .h5 {
  font-size: 1.3em;
}
.cm_content h6, .cm_content .h6 {
  font-size: 1.1em;
}
.cm_content p:not(:last-child), .cm_content blockquote:not(:last-child), .cm_content figure:not(:last-child), .cm_content ol:not(:last-child), .cm_content ul:not(:last-child), .cm_content pre:not(:last-child), .cm_content iframe:not(:last-child), .cm_content table:not(:last-child) {
  margin-bottom: 0.5rem;
}
.cm_content h1:not(:last-child), .cm_content h2:not(:last-child), .cm_content h3:not(:last-child), .cm_content h4:not(:last-child), .cm_content h5:not(:last-child), .cm_content h6:not(:last-child) {
  margin-bottom: 0.2rem;
}
.cm_content h1:not(:first-child), .cm_content h2:not(:first-child), .cm_content h3:not(:first-child), .cm_content h4:not(:first-child), .cm_content h5:not(:first-child), .cm_content h6:not(:first-child) {
  margin-top: 1.5rem;
}
.cm_content code, .cm_content kbd {
  background-color: rgba(var(--foreground-color), 0.1);
  border: 0.1em solid rgba(var(--foreground-color), 0.1);
  border-radius: 0.5em;
  padding: 0.3em 0.5em;
  font-size: 0.9em;
}
.cm_content p {
  line-height: 1.8;
}
.cm_content blockquote {
  background-color: rgba(var(--primary-color), 0.1);
  border-right: 0.3em solid rgb(var(--primary-color));
  padding: 1em 1.5em;
}
.cm_content blockquote cite {
  color: rgb(var(--primary-color));
  font-size: 0.9em;
}
.cm_content q {
  background-color: rgba(var(--primary-color), 0.1);
  color: rgb(var(--primary-color));
  padding: 0.3em 0.4em;
  border-radius: 0.5em;
}
.cm_content ul li::marker {
  font-size: 1.3em;
  line-height: 0;
}
.cm_content ul, .cm_content ol {
  list-style-position: inside;
}
.cm_content ul li::marker, .cm_content ol li::marker {
  color: rgb(var(--primary-color));
}
.cm_content figure img {
  margin: 0 auto;
}
.cm_content figure figcaption {
  text-align: center;
  margin-top: 0.5em;
  font-size: 0.9em;
  color: rgba(var(--foreground-color), 0.4);
}
.cm_content a {
  color: rgb(var(--primary-color));
  position: relative;
}
.cm_content a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -0.2em;
  width: 50%;
  height: 0.15em;
  background-color: rgb(var(--primary-color));
  transition: 0.3s;
  opacity: 0.4;
}
.cm_content a:hover::after, .cm_content a:focus::after {
  width: 100%;
  opacity: 1;
}
.cm_content table {
  width: 100%;
  border-collapse: separate;
  border: 0.1em solid rgba(var(--foreground-color), 0.2);
  border-radius: 0.8em;
}
.cm_content table td, .cm_content table th {
  border-style: solid;
  border-color: rgba(var(--foreground-color), 0.1);
  border-width: 0 0.1em 0.1em 0;
  text-align: right;
  padding: 0.5em 1em;
}
.cm_content table tr td:last-child, .cm_content table tr th:last-child {
  border-width: 0 0 0.1em 0;
}
.cm_content table tr:last-child td, .cm_content table tr:last-child th {
  border-width: 0 0.1em 0 0;
}
.cm_content table tr:last-child td:last-child, .cm_content table tr:last-child th:last-child {
  border-width: 0;
}

.cm_select {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cm_select input:disabled ~ * {
  cursor: not-allowed;
  opacity: 0.3;
}
.cm_select__preview {
  display: block;
  cursor: pointer;
}
.cm_select__preview.placeholder {
  color: rgba(var(--foreground-color), 0.3);
}
.cm_select__search {
  margin: 0.8em 0.8em 0 0.8em;
}
.cm_select__dropdown {
  background-color: rgba(var(--background-color), 0.92);
  backdrop-filter: blur(10px);
  position: absolute;
  inset: 0;
  bottom: unset;
  z-index: 20;
  border: 1px solid rgba(var(--foreground-color), 0.08);
  box-shadow: 0 20px 20px -5px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  border-radius: 0.9em;
  transform-origin: top center;
}
.cm_select__options {
  padding: 0.5em 0;
  max-height: 12.6em;
  overflow-y: auto;
}
.cm_select__option {
  display: block;
  padding: 0.3em 1.2em;
  transition: 0.1s;
  width: 100%;
  text-align: unset;
}
.cm_select__option:hover {
  background-color: rgba(var(--foreground-color), 0.04);
}

.cm_switch {
  display: flex;
  align-items: center;
  gap: 0.8em;
  cursor: pointer;
  position: relative;
  z-index: 0;
  padding: 0.7em 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cm_switch input:disabled ~ * {
  cursor: not-allowed;
  opacity: 0.3;
}
.cm_switch input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
input:checked ~ .cm_switch__input {
  background-color: rgb(var(--primary-color));
  border-color: rgb(var(--primary-color));
  box-shadow: 0 0 0 0.2em rgba(var(--primary-color), 0.4);
}
input:checked ~ .cm_switch__input::after {
  margin-left: 1em;
  margin-right: 0;
  background-color: white;
}
input:checked ~ .cm_switch__input ~ .cm_switch__text::after {
  background-color: rgb(var(--background-color));
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(var(--foreground-color), 0.12);
}
.cm_switch__input {
  flex-shrink: 0;
  padding: 2px;
  border-radius: 1em;
  transition: 0.2s;
  box-shadow: inset 0 0.1em 0.1em rgba(0, 0, 0, 0.1);
  background-color: rgba(var(--foreground-color), 0.05);
  display: inline-flex;
  align-items: center;
}
.cm_switch__input::after {
  content: "";
  display: block;
  width: 1.2em;
  height: 1.2em;
  transition: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: rgb(var(--background-color));
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  margin-right: 1em;
}
.cm_switch__text::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 0.9em;
  background-color: rgba(var(--foreground-color), 0.04);
  transition: 0.2s;
  border: 1px solid transparent;
}

.cm_switch.style--solid {
  padding: 0;
}
.cm_switch.style--solid .cm_switch__text::after {
  display: none;
}

.cm_accordion {
  overflow: hidden;
  border-bottom: 0.15em solid rgba(var(--foreground-color), 0.2);
}
.cm_accordion__title {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cm_accordion__title svg {
  transition: 0.3s;
}
.cm_accordion__body {
  overflow-y: hidden;
}
.cm_accordion__content {
  padding-bottom: 1em;
  color: rgba(var(--foreground-color), 0.5);
}
.cm_accordion.open .cm_accordion__title svg {
  transform: rotate(180deg);
}

.cm_gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 7.5em;
  gap: 1em;
}
.cm_gallery a:nth-child(3n+3) {
  grid-row: span 2;
  grid-column: span 1;
}
@media (min-width: 768px) {
  .cm_gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 10em;
  }
  .cm_gallery a:nth-child(n) {
    grid-row: span 1;
    grid-column: span 1;
  }
  .cm_gallery a:nth-child(18n+2) {
    grid-row: span 2;
  }
  .cm_gallery a:nth-child(18n+8) {
    grid-row: span 2;
  }
  .cm_gallery a:nth-child(18n+10) {
    grid-column: span 2;
  }
  .cm_gallery a:nth-child(18n+16) {
    grid-column: span 2;
    grid-row: span 2;
  }
}
@media (min-width: 992px) {
  .cm_gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 12em;
  }
  .cm_gallery a:nth-child(n) {
    grid-row: span 1;
    grid-column: span 1;
  }
  .cm_gallery a:nth-child(18n+3) {
    grid-column: span 2;
  }
  .cm_gallery a:nth-child(18n+5) {
    grid-row: span 2;
  }
  .cm_gallery a:nth-child(18n+7) {
    grid-row: span 2;
  }
  .cm_gallery a:nth-child(18n+8) {
    grid-row: span 2;
    grid-column: span 2;
  }
}
.cm_gallery > a {
  overflow: hidden;
  border-radius: 0.6em;
}
.cm_gallery > a:hover img {
  transform: scale(1.1);
}
.cm_gallery > a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}

/*# sourceMappingURL=style-rtl.css.map */
