// Filled Style Buttons
.cm_btn {
  &.style--fill--primary {
    color: white;
    fill: white;
    background-color: rgb($color-primary);
    border-color: rgb($color-primary);
    box-shadow: 0 3px 5px rgba($color-primary, .3);

    &:focus {
      box-shadow: 0 0 0 3px rgba($color-primary, .3);
    }
  }

  &.style--fill--secondary {
    color: white;
    fill: white;
    background-color: rgb($color-secondary);
    border-color: rgb($color-secondary);
    box-shadow: 0 3px 5px rgba($color-secondary, .3);

    &:focus {
      box-shadow: 0 0 0 3px rgba($color-secondary, .3);
    }
  }

  &.style--fill--gray {
    color: white;
    fill: white;
    background-color: rgb($color-gray);
    border-color: rgb($color-gray);
    box-shadow: 0 3px 5px rgba($color-gray, .3);

    &:focus {
      box-shadow: 0 0 0 3px rgba($color-gray, .3);
    }
  }

  &.style--fill--success {
    color: white;
    fill: white;
    background-color: rgb($color-success);
    border-color: rgb($color-success);
    box-shadow: 0 3px 5px rgba($color-success, .3);

    &:focus {
      box-shadow: 0 0 0 3px rgba($color-success, .3);
    }
  }

  &.style--fill--warning {
    color: white;
    fill: white;
    background-color: rgb($color-warning);
    border-color: rgb($color-warning);
    box-shadow: 0 3px 5px rgba($color-warning, .3);

    &:focus {
      box-shadow: 0 0 0 3px rgba($color-warning, .3);
    }
  }

  &.style--fill--error {
    color: white;
    fill: white;
    background-color: rgb($color-error);
    border-color: rgb($color-error);
    box-shadow: 0 3px 5px rgba($color-error, .3);

    &:focus {
      box-shadow: 0 0 0 3px rgba($color-error, .3);
    }
  }
}

// Outlined Style Buttons
.cm_btn {
  &.style--stroke--primary {
    color: rgb($color-primary);
    fill: rgb($color-primary);
    border-color: rgb($color-primary);
    box-shadow: 0 3px 5px rgba($color-primary, .15);
    background-color: transparent;

    &:focus {
      box-shadow: 0 0 0 3px rgba($color-primary, .3);
    }
  }

  &.style--stroke--secondary {
    color: rgb($color-secondary);
    fill: rgb($color-secondary);
    border-color: rgb($color-secondary);
    box-shadow: 0 3px 5px rgba($color-secondary, .15);
    background-color: transparent;

    &:focus {
      box-shadow: 0 0 0 3px rgba($color-secondary, .3);
    }
  }

  &.style--stroke--gray {
    color: rgb($color-gray);
    fill: rgb($color-gray);
    border-color: rgb($color-gray);
    box-shadow: 0 3px 5px rgba($color-gray, .15);
    background-color: transparent;

    &:focus {
      box-shadow: 0 0 0 3px rgba($color-gray, .3);
    }
  }

  &.style--stroke--white {
    color: white;
    fill: white;
    border-color: white;
    box-shadow: 0 3px 5px rgba(white, .15);
    background-color: transparent;

    &:focus {
      box-shadow: 0 0 0 3px rgba(white, .3);
    }
  }

  &.style--stroke--success {
    color: rgb($color-success);
    fill: rgb($color-success);
    border-color: rgb($color-success);
    box-shadow: 0 3px 5px rgba($color-success, .15);
    background-color: transparent;

    &:focus {
      box-shadow: 0 0 0 3px rgba($color-success, .3);
    }
  }

  &.style--stroke--warning {
    color: rgb($color-warning);
    fill: rgb($color-warning);
    border-color: rgb($color-warning);
    box-shadow: 0 3px 5px rgba($color-warning, .15);
    background-color: transparent;

    &:focus {
      box-shadow: 0 0 0 3px rgba($color-warning, .3);
    }
  }

  &.style--stroke--error {
    color: rgb($color-error);
    fill: rgb($color-error);
    border-color: rgb($color-error);
    box-shadow: 0 3px 5px rgba($color-error, .15);
    background-color: transparent;

    &:focus {
      box-shadow: 0 0 0 3px rgba($color-error, .3);
    }
  }
}

// Solid Style Buttons
.cm_btn {
  &.style--solid--foreground {
    color: rgb($color-foreground);
    fill: rgb($color-foreground);
    border-color: transparent;
    background-color: transparent;
    box-shadow: unset;

    &:focus {
      box-shadow: 0 0 0 3px rgba($color-foreground, .08);
    }
  }
  &.style--solid--white {
    color: white;
    fill: white;
    border-color: transparent;
    background-color: transparent;
    box-shadow: unset;

    &::after {
      background-color: white;
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba(white, .1);
    }
  }
}

.cm_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 1em;
  padding: .5em 1.4em;
  gap: 1.2em;
  border-radius: 5em;
  background-color: rgb($color-background);
  border: 1px solid rgba($color-foreground, .08);
  box-shadow: 0 3px 5px rgba(black, .03);
  transition: .2s;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  fill: rgb($color-foreground);
  color: rgb($color-foreground);
  @include unselectable;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0;
    transition: inherit;
  }

  &:hover {
    &::after {
      opacity: 0.05;
    }
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba($color-foreground, .15);
  }

  &:disabled, &.disabled {
    cursor: not-allowed;
    opacity: .3;
  }

  svg {
    margin-right: -.6em;
    margin-left: -.6em;
    flex-shrink: 0;
  }

  &.iconic {
    padding: .5em;

    svg {
      margin: 0;
    }
  }

  &.shadowless {
    box-shadow: unset;
  }

  &.type--toggle {
    .state--idle {
      display: initial;
    }
    .state--toggled {
      display: none;
    }
  }
}