.cm_content {
  font-size: 1.1em;

  h1, .h1 {
    font-size: 2.1em;
  }

  h2, .h2 {
    font-size: 1.90em;
  }

  h3, .h3 {
    font-size: 1.70em;
  }

  h4, .h4 {
    font-size: 1.50em;
  }

  h5, .h5 {
    font-size: 1.30em;
  }

  h6, .h6 {
    font-size: 1.10em;
  }

  p, blockquote, figure, ol, ul, pre, iframe, table {
    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    &:not(:last-child) {
      margin-bottom: .2rem;
    }

    &:not(:first-child) {
      margin-top: 1.5rem;
    }
  }

  code, kbd {
    background-color: rgba($color-foreground, .1);
    border: 0.1em solid rgba($color-foreground, .1);
    border-radius: .5em;
    padding: .3em .5em;
    font-size: .9em;
  }

  p {
    line-height: 1.8;
  }

  blockquote {
    background-color: rgba($color-primary, .1);
    border-#{$start}: .3em solid rgb($color-primary);
    padding: 1em 1.5em;

    cite {
      color: rgb($color-primary);
      font-size: .9em;
    }
  }

  q {
    background-color: rgba($color-primary, .1);
    color: rgb($color-primary);
    padding: .3em .4em;
    border-radius: .5em;
  }

  ul {
    li::marker {
      font-size: 1.3em;
      line-height: 0;
    }
  }

  ul, ol {
    list-style-position: inside;

    li {
      &::marker {
        color: rgb($color-primary);
      }
    }
  }

  figure {
    img {
      margin: 0 auto;
    }

    figcaption {
      text-align: center;
      margin-top: .5em;
      font-size: .9em;
      color: rgba($color-foreground, .4);
    }
  }

  a {
    color: rgb($color-primary);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      #{$start}: 0;
      bottom: -.2em;
      width: 50%;
      height: .15em;
      background-color: rgb($color-primary);
      transition: .3s;
      opacity: .4;
    }

    &:hover, &:focus {
      &::after {
        width: 100%;
        opacity: 1;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: separate;
    border: .1em solid rgba($color-foreground, .2);
    border-radius: .8em;

    td, th {
      border-style: solid;
      border-color: rgba($color-foreground, .1);
      border-width: 0 0.1em 0.1em 0;
      text-align: #{$start};
      padding: .5em 1em;
    }

    tr {
      td, th {
        &:last-child {
          border-width: 0 0 .1em 0;
        }
      }

      &:last-child {
        td, th {
          border-width: 0 .1em 0 0;

          &:last-child {
            border-width: 0;
          }
        }
      }
    }
  }
}