.cm_header {
  position: fixed;
  inset: 0;
  bottom: unset;
  z-index: 9999;

  &__logo {
    display: block;

    img {
      transition: .85s cubic-bezier(0.19, 1, 0.22, 1);
      transform: scale3d(1, 1, 1);
      display: block;
    }

    &:hover {
      img {
        transform: scale3d(1.02, 1.02, 1);
      }
    }
  }
}