// Solid Style Inputs
.cm_input {
  position: relative;
  transition: .2s;

  &__label {
    display: block;
    margin-bottom: .3em;
    @include unselectable;
  }

  &__label ~ svg,
  &__label ~ button {
    bottom: calc(50% - 1em) !important;
  }

  input, textarea, .cm_select__preview {
    display: flex;
    align-items: center;
    max-width: unset;
    min-width: unset;
    width: 100%;

    font-size: 1em;
    padding: .5em 1em;
    border-radius: .9em;
    background-color: rgb($color-background);
    border: 1px solid rgba($color-foreground, .12);
    box-shadow: 0 3px 5px rgba(black, .02);
    transition: inherit;

    &:disabled, &:disabled ~ * {
      @include disable
    }

    &::placeholder {
      color: rgba($color-foreground, .3);
      transition: inherit;
    }

    &:hover {
      border-color: rgb($color-primary);

      &::placeholder {
        color: rgba($color-primary, .3);
      }
    }

    &:focus {
      border-color: rgb($color-primary);
      box-shadow: 0 0 0 3px rgba($color-primary, .15);

      &::placeholder {
        color: transparent;
      }

      & ~ svg {
        fill: rgb($color-primary);
      }
    }
  }

  textarea {
    padding: .6em 1em;
    resize: none;
  }

  > svg {
    fill: rgba($color-foreground, .3);
    position: absolute;
    #{$end}: 0;
    bottom: 50%;
    transition: inherit;

    @if($direction == 'rtl') {
      transform: translate(75%, 50%);
    }
    @else {
      transform: translate(-75%, 50%);
    }
  }

  > button {
    position: absolute;
    #{$end}: 0;
    bottom: 50%;

    @if($direction == 'rtl') {
      transform: translate(14%, 50%);
    }
    @else {
      transform: translate(-14%, 50%);
    }
  }
}

// Validations
.cm_input {
  &.validate--success {
    > svg {
      fill: rgba($color-success, .3);
    }

    .cm_input__label {
      color: rgb($color-success);
    }

    input, .cm_select__preview {
      border-color: rgba($color-success, .3);

      &:hover {
        border-color: rgb($color-success);

        &::placeholder {
          color: rgba($color-success, .3);
        }
      }

      &:focus {
        border-color: rgb($color-success);
        box-shadow: 0 0 0 3px rgba($color-success, .15);

        &::placeholder {
          color: transparent;
        }

        & ~ svg {
          fill: rgb($color-success);
        }
      }
    }

  }

  &.validate--warning {
    > svg {
      fill: rgba($color-warning, .3);
    }

    .cm_input__label {
      color: rgb($color-warning);
    }

    input, .cm_select__preview {
      border-color: rgba($color-warning, .3);

      &:hover {
        border-color: rgb($color-warning);

        &::placeholder {
          color: rgba($color-warning, .3);
        }
      }

      &:focus {
        border-color: rgb($color-warning);
        box-shadow: 0 0 0 3px rgba($color-warning, .15);

        &::placeholder {
          color: transparent;
        }

        & ~ svg {
          fill: rgb($color-warning);
        }
      }
    }

  }

  &.validate--error {
    > svg {
      fill: rgba($color-error, .3);
    }

    .cm_input__label {
      color: rgb($color-error);
    }

    input, .cm_select__preview {
      border-color: rgba($color-error, .3);

      &:hover {
        border-color: rgb($color-error);

        &::placeholder {
          color: rgba($color-error, .3);
        }
      }

      &:focus {
        border-color: rgb($color-error);
        box-shadow: 0 0 0 3px rgba($color-error, .15);

        &::placeholder {
          color: transparent;
        }

        & ~ svg {
          fill: rgb($color-error);
        }
      }
    }
  }
}