.cm_menu {
  position: fixed;
  inset: 0;
  z-index: 9999999;
  pointer-events: none;
  @include unselectable;

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(black, .6);
    pointer-events: initial;
  }

  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgb($color-background);
    transition: .4s;
    pointer-events: initial;
    width: 100%;
    max-width: 20em;
    overflow-y: auto;

    &.position--start {
      #{$start}: 0;

      @if($direction == rtl) {
        transform: translateX(100%);
      }
      @else {
        transform: translateX(-100%);
      }
    }

    &.position--end {
      #{$end} : 0;

      @if($direction == rtl) {
        transform: translateX(-100%);
      }
      @else  {
        transform: translateX(100%);
      }
    }

    &.open {
      transform: translateX(0);
    }
  }
}