.cm_popup {
  position: fixed;
  inset: 0;
  z-index: 9999999;
  @include unselectable;

  &__overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(black, .6);
  }

  &__body {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    padding: 2em;
  }

  &__content {
    max-width: 40em;
    pointer-events: initial;
    max-height: 90%;
    overflow-y: auto;
  }
}

.cm_popup {
  &.style--plain {
    .cm_popup__content {
      background-color: rgb($color-background);
      padding: 2em;
      border-radius: .6em;
      box-shadow: 0 0 0 5px rgba(black, .2);
    }
  }
}