.cm_select {
  position: relative;
  @include unselectable;

  input:disabled ~ * {
    @include disable
  }

  &__input {
  }

  &__preview {
    display: block;
    cursor: pointer;

    &.placeholder {
      color: rgba($color-foreground, .3);
    }
  }

  &__search {
    margin: .8em .8em 0 .8em;
  }

  &__dropdown {
    background-color: rgba($color-background, .92);
    backdrop-filter: blur(10px);
    position: absolute;
    inset: 0;
    bottom: unset;
    z-index: 20;

    border: 1px solid rgba($color-foreground, .08);
    box-shadow: 0 20px 20px -5px rgba(black, .2);
    transition: .2s;
    border-radius: .9em;
    transform-origin: top center;
  }

  &__options {
    padding: .5em 0;
    max-height: 12.6em;
    overflow-y: auto;
  }

  &__option {
    display: block;
    padding: .3em 1.2em;
    transition: .1s;
    width: 100%;
    text-align: unset;

    &:hover {
      background-color: rgba($color-foreground, .04);
    }
  }
}