.cm_tab {
  &__nav {
    display: flex;
    gap: .2em;

    &__item {
      border-bottom: .15em solid transparent;
      padding: .4em .8em;
      transition: .3s;

      &:hover {
        border-bottom-color: rgba($color-foreground, 0.2);
      }

      &.active {
        color: rgb($color-primary);
        border-bottom-color: rgb($color-primary);
      }
    }
  }

  &__content {
    &__item {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}