// = = = = = = = = = = =  Border = = = = = = = = = = = \\
$radius-sizes: 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 100;
@each $size in $radius-sizes {
  .borad-#{$size} {
    border-radius: $size + px !important;
  }
}

.circle {
  border-radius: 50% !important;
}

.border-1 {
  border-style: solid !important;
  border-width: 1px !important;
}

.border-2 {
  border-style: solid !important;
  border-width: 2px !important;
}

// = = = = = = = = = = =  Spacers = = = = = = = = = = = \\
$space-sizes: 25, 50, 75, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400;
@each $size in $space-sizes {
  .space-#{$size} {
    height: $size + px;
  }
}

// = = = = = = = = = = =  Max width
$max-width-sizes: 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000;
@each $size in $max-width-sizes {
  .mw-#{$size} {
    max-width: $size + px !important;
  }
}

// = = = = = = = = = = =  Horizontal lines
.hr-1 {
  height: 1px;
}

.hr-2 {
  height: 2px;
}

.hr-3 {
  height: 3px;
}

.hr-4 {
  height: 4px;
}

.hr-5 {
  height: 5px;
}

// = = = = = = = = = = =  Other
.unselectable {
  @include unselectable;
}

.object-contain {
  object-fit: contain;
  object-position: center;
}

.vh {
  @include  vh;
}

.list-raw {
  @include raw-list;
}

.flex-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.shadow-box {
  box-shadow: 0 10px 24px -10px rgba(black, .15);
}