// Html Tags
html {
  scroll-behavior: smooth;
}

html,
body {
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgb($color-background);
  color: rgb($color-foreground);
  fill: rgb($color-foreground);
  direction: $direction;
}

main {
  min-height: 100vh;
}

svg {
  width: 1.3em;
  height: 1.3em;
  vertical-align: middle;
  align-self: center;
}

mark {
  background-color: rgba($color-secondary, .1);
  color: rgb($color-secondary);
}

// Scrollbar

$cl-scrollbar-bg : transparent;
$cl-scrollbar-thumb : rgba($color-foreground, .25);

*::-webkit-scrollbar {
  width:  .4em;
  height: .4em;
}

*::-webkit-scrollbar-thumb {
  background: $cl-scrollbar-thumb;
  border-radius: 8px;
}

*::-webkit-scrollbar-track {
  background: $cl-scrollbar-bg;
}

* {
  scrollbar-face-color: $cl-scrollbar-thumb;
  scrollbar-track-color: $cl-scrollbar-bg;

  scrollbar-color: $cl-scrollbar-thumb $cl-scrollbar-bg;
  scrollbar-width: thin;
}