.l00p_theme {
  display: flex;
  border: 2px solid rgba($color-foreground, .1);
  border-radius: .8em;
  overflow: hidden;
  width: 100%;

  span {
    flex-grow: 1;
    height: 3em;
    position: relative;

    &:nth-child(4),
    &:nth-child(5) {
      //display: none;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      top: 70%;
      background-color: rgba(black, .1);
    }
  }

  &.one {
    span:nth-child(1) {
      background-color: rgb(30, 150, 250);
    }
    span:nth-child(2) {
      background-color: rgb(10, 50, 70);
    }
    span:nth-child(3) {
      background-color: rgb(255, 255, 255);
    }
    span:nth-child(4) {
      background-color: rgb(133, 132, 141);
    }
    span:nth-child(5) {
      background-color: rgb(35, 40, 50);
    }
  }

  &.two {
    span:nth-child(1) {
      background-color: rgb(70, 95, 176);
    }
    span:nth-child(2) {
      background-color: rgb(255, 201, 74);
    }
    span:nth-child(3) {
      background-color: rgb(255, 255, 255);
    }
    span:nth-child(4) {
      background-color: rgb(114, 114, 117);
    }
    span:nth-child(5) {
      background-color: rgb(33, 33, 33);
    }
  }

  &.three {
    span:nth-child(1) {
      background-color: rgb(255, 79, 155);
    }
    span:nth-child(2) {
      background-color: rgb(246, 117, 117);
    }
    span:nth-child(3) {
      background-color: rgb(44, 45, 45);
    }
    span:nth-child(4) {
      background-color: rgb(114, 114, 117);
    }
    span:nth-child(5) {
      background-color: rgb(255, 255, 255);
    }
  }
}