@mixin res($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: 576px) {
      //576px and up
      @content;
    }
  }

  @if $breakpoint == md {
    @media (min-width: 768px) {
      //768px and up
      @content;
    }
  }

  @if $breakpoint == lg {
    @media (min-width: 992px) {
      //992px and up
      @content;
    }
  }

  @if $breakpoint == xl {
    @media (min-width: 1200px) {
      //1200px and up
      @content;
    }
  }


  @if $breakpoint == xxl {
    @media (min-width: 1400px) {
      //1200px and up
      @content;
    }
  }
}

@mixin ser($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 575px) {
      //576px and up
      @content;
    }
  }

  @if $breakpoint == md {
    @media (max-width: 767px) {
      //768px and up
      @content;
    }
  }

  @if $breakpoint == lg {
    @media (max-width: 991px) {
      //992px and up
      @content;
    }
  }

  @if $breakpoint == xl {
    @media (max-width: 1199px) {
      //1200px and up
      @content;
    }
  }

  @if $breakpoint == xxl {
    @media (max-width: 1399px) {
      //1200px and up
      @content;
    }
  }
}

@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin ratio($first, $second) {
  position: relative;
  padding-top: ($second / $first * 100%);
}

@mixin vh() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin disable() {
  cursor: not-allowed;
  opacity: .3;
}