$direction : ltr;
$start : '';
$end : '';

@if($direction == rtl) {
  $start : right;
  $end : left;
  $direction-sign : -1;
}
@else {
  $start : left;
  $end : right;
  $direction-sign : 1;
}

$is_dark_theme : false;
$cl-ac : #4ECCA3;
$cl-sec : #75787D;
$cl-txt : #232931;
$cl-bg : white;

$cl-success : #81d561;
$cl-warning : #ffc32e;
$cl-error : #f53411;

$cl-gray-0 : #FAFAFA;
$cl-gray-1 : #F0F0F0;
$cl-gray-2 : #E5E5E5;
$cl-gray-3 : #DBDBDB;
$cl-gray-4 : #D1D1D1;
$cl-gray-5 : #C6C6C6;
$cl-gray-6 : #BCBCBC;
$cl-gray-7 : #B1B1B1;
$cl-gray-8 : #A7A7A7;
$cl-gray-9 : #9D9D9D;
$cl-gray-10 : #929292;
$cl-gray-11 : #878787;
$cl-gray-12 : #787878;
$cl-gray-13 : #6D6D6D;
$cl-gray-14 : #626262;
$cl-gray-15 : #585858;
$cl-gray-16 : #4E4E4E;
$cl-gray-17 : #434343;
$cl-gray-18 : #393939;
$cl-gray-19 : #2E2E2E;
$cl-gray-20 : #242424;
$cl-gray-21 : #1A1A1A;
$cl-gray-22 : #0F0F0F;
$cl-gray-23 : #050505;

$tr-timing : cubic-bezier(0.750, 0.725, 0.395, 1.000);
$tr-dur-fast : .2s;
$tr-dur-med : .5s;
$tr-dur-slow : .7s;

$borad-btn : 6px;
$height-btn: 40px;
$min-width-btn: unset;

$borad-input : 6px;
$height-input: 40px;

$borad-check : 4px;
$size-check : 24px;

$size-radio : 24px;

$height-toggle-track : 24px;
$width-toggle-track : 40px;
$padding-toggle-track : 2px;
$size-toggle-thumb : 20px;

@if($is_dark_theme) {
  $cl-gray-23 : #FAFAFA;
  $cl-gray-22 : #F0F0F0;
  $cl-gray-21 : #E5E5E5;
  $cl-gray-20 : #DBDBDB;
  $cl-gray-19 : #D1D1D1;
  $cl-gray-18 : #C6C6C6;
  $cl-gray-17 : #BCBCBC;
  $cl-gray-16 : #B1B1B1;
  $cl-gray-15 : #A7A7A7;
  $cl-gray-14 : #9D9D9D;
  $cl-gray-13 : #929292;
  $cl-gray-12 : #878787;
  $cl-gray-11 : #787878;
  $cl-gray-10 : #6D6D6D;
  $cl-gray-9 : #626262;
  $cl-gray-8 : #585858;
  $cl-gray-7 : #4E4E4E;
  $cl-gray-6 : #434343;
  $cl-gray-5 : #393939;
  $cl-gray-4 : #2E2E2E;
  $cl-gray-3 : #242424;
  $cl-gray-2 : #1A1A1A;
  $cl-gray-1 : #0F0F0F;
  $cl-gray-0 : #050505;
}

$cl-placeholder : $cl-gray-8;