:root {
  --primary-color: 20, 150, 250;
  --secondary-color: 10, 50, 70;
  --foreground-color: 35, 40, 50;
  --background-color: 255, 255, 255;
  --gray-color: 133, 132, 141;

  --success-color: 70, 170, 80;
  --warning-color: 255, 150, 0;
  --error-color: 240, 40, 60;

  --gray-0-color : 250, 250, 250;
  --gray-1-color : 240, 240, 240;
  --gray-2-color : 230, 230, 230;
  --gray-3-color : 220, 220, 220;
  --gray-4-color : 210, 210, 210;
  --gray-5-color : 200, 200, 200;
  --gray-6-color : 190, 190, 190;
  --gray-7-color : 180, 180, 180;
  --gray-8-color : 170, 170, 170;
  --gray-9-color : 160, 160, 160;
  --gray-10-color : 150, 150, 150;
  --gray-11-color : 140, 140, 140;
  --gray-12-color : 130, 130, 130;
  --gray-13-color : 120, 120, 120;
  --gray-14-color : 110, 110, 110;
  --gray-15-color : 100, 100, 100;
  --gray-16-color : 90, 90, 90;
  --gray-17-color : 80, 80, 80;
  --gray-18-color : 70, 70, 70;
  --gray-19-color : 60, 60, 60;
  --gray-20-color : 50, 50, 50;
  --gray-21-color : 40, 40, 40;
  --gray-22-color : 30, 30, 30;
  --gray-23-color : 20, 20, 20;
  --gray-24-color : 10, 10, 10;

  color-scheme: only light;
}

$color-primary : var(--primary-color);
$color-secondary : var(--secondary-color);
$color-foreground : var(--foreground-color);
$color-background : var(--background-color);
$color-gray : var(--gray-color);

$color-success : var(--success-color);
$color-warning : var(--warning-color);
$color-error : var(--error-color);

$cl-gray-0 : var(--gray-0-color);
$cl-gray-1 : var(--gray-1-color);
$cl-gray-2 : var(--gray-2-color);
$cl-gray-3 : var(--gray-3-color);
$cl-gray-4 : var(--gray-4-color);
$cl-gray-5 : var(--gray-5-color);
$cl-gray-6 : var(--gray-6-color);
$cl-gray-7 : var(--gray-7-color);
$cl-gray-8 : var(--gray-8-color);
$cl-gray-9 : var(--gray-9-color);
$cl-gray-10 : var(--gray-10-color);
$cl-gray-11 : var(--gray-11-color);
$cl-gray-12 : var(--gray-12-color);
$cl-gray-13 : var(--gray-13-color);
$cl-gray-14 : var(--gray-14-color);
$cl-gray-15 : var(--gray-15-color);
$cl-gray-16 : var(--gray-16-color);
$cl-gray-17 : var(--gray-17-color);
$cl-gray-18 : var(--gray-18-color);
$cl-gray-19 : var(--gray-19-color);
$cl-gray-20 : var(--gray-20-color);
$cl-gray-21 : var(--gray-21-color);
$cl-gray-22 : var(--gray-22-color);
$cl-gray-23 : var(--gray-23-color);
$cl-gray-24 : var(--gray-24-color);

$font-size-body: 15px;